{% extends '::base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
    #roomImage {
        display: inline;
        position: relative;
        float:left;
        background: lightblue;
    }
    td.selected {
        background-color: #FFCF8B
    }
    td{
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block title %}Manage rooms{% endblock %}

{% block body %}
    <h3>Practice room {{ room.id }}</h3>
    {% set editText = "Edit" %}
    {% set term1EditUrl = path('prooms_rooms_edit_unavailable_hours', {'id' : room.id, 'term':1} ) %}
    {% set term2EditUrl = path('prooms_rooms_edit_unavailable_hours', {'id' : room.id, 'term':2} ) %}
    
    <table>
        <tr><td class="selected" width="30px"></td><td>selected</td></tr>
    </table>
    
    <div>
    {{ include("::editTermTimetable.html.twig") }}  
    </div>
    <a href="{{ path('prooms_rooms_list') }}">
                <button class="btn btn-mini" type='button'>cancel</button></a>
{% endblock %}
 
{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojo/dojo.js"
               data-dojo-config="async: true"></script>
<script>
require(["dojo/dom", "dojo/query", "dojo/on", "dojo/ready", "dojo/_base/lang", "dojo/NodeList-traverse", "dojo/dom-class", "dojo/domReady!"],
    function(dom, query, on, ready, hitch, domClass) {
        ready(function(){
            var term1_tbody = query('#term_1').children();
            var term1_tr_list = query('> tr', term1_tbody[0]);
            var term2_tbody = query('#term_2').children();
            var term2_tr_list = query('> tr', term2_tbody[0]);
            {% for hour in room.unavailableHours %}
                {% if hour.term == 1 %}
                    var term1_tdList = query('> td', term1_tr_list[{{hour.startTime}}]);
                    term1_tdList[{{hour.dayOfWeek}}].className="selected";
                {% elseif hour.term == 2 %}
                    var term2_tdList = query('> td', term2_tr_list[{{hour.startTime}}]);
                    term2_tdList[{{hour.dayOfWeek}}].className="selected";
                {% endif %}
            {% endfor %}
        });
 
});
</script>
{% endblock %}